

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.finishes h2, .downloads-section h2, .gallery-section h2 {
  font-size: 24px;
font-weight: bold;
text-align: center;
padding-bottom: 30px;
}
.tabs-section h2 {
  font-size: 24px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .tabs-section h2 {
font-size: 16px;
font-weight:normal;
color: rgb(0, 0, 0);
font-style: italic;
  }
  .finishes h2, .downloads-section h2, .gallery-section h2 {
    padding-bottom: 20px;
  }
}
/* #region Banner Section */

.page-header-img {
  background-color: transparent;
  z-index: 1000;
  
}
.manufacturer-banner {
  margin-top: -105px;
}
@media only screen and (max-width: 992px) {
  .manufacturer-banner {
margin-top: -71px;

  }
.page-header {
  display:none;
}

}
@media only screen and (max-width: 768px) {
  .manufacturer-banner {
margin-top: -66px;
  }
}
.manufacturer-banner .item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    display: flex;
align-items: flex-end;
justify-content: flex-end;
padding-bottom: 3em;
}

.manufacturer-banner .item .banner-info {
width: 100%;
}
.manufacturer-banner .owl-dots {
    position: relative;
    bottom: 3em;
}
.manufacturer-banner .owl-nav {
display: none;
}

.manufacturer-banner h4 {
font-size: 50px;
color: white;
text-align: center;
}


@media only screen and (max-width: 992px) {
  .manufacturer-banner h4 {
font-size: 50px;
}
}
@media only screen and (max-width: 768px) {
  .manufacturer-banner h4 {
font-size: 30px;
}
}

#nedzink-header-logo {
    width: 300px;
}


#nz-naturel-banner {
    background-image: url(../images/jack-house-nedzink-naturel-good.JPG);
}
#nz-neo-banner {
    background-image: url(../images/phillips-nedzink-neo.jpeg);
}
#nz-noir-banner {
    background-image: url(../images/hispec-ngas-nedzink-noir-good.jpg);
}
/* #endregion */

/* #region Gallery Section */
.gallery-section {
    margin-left: 5px;
    padding-top: 70px;
  
}
  .gallery-container {
    position: relative;
    padding: 0px 5px 5px 0;
  width: 33.33%;
    float: left;
  }

  @media only screen and (min-width:1700px) {
    .gallery-container {
  width: 25%;
  
    }
  }
  @media only screen and (max-width: 768px) {
    .gallery-container {
  width: 50%;
}
  .gallery-section {
padding-top: 40px;
  
    }
    .gallery-section .container {
      padding-right: 0;
      padding-left: 0;
    }
    .filter-buttons-container {
      margin-bottom: 5px!important;
    }
  }

 .gallery-section .row {
    margin-right: 0!important;
    margin-left: 0!important;
}

  
  .gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff44;
  }
  
  .gallery-container:hover .gallery-overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .zoom-icon {
 
      width: 100px!important;
  }

  .gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.filter-button:hover {
  color: white;
  background-color: black;
}
.filter-button.active {
    background-color: #000000!important;
    color: white;
}


.filter-button {
  display: block;
  padding: 10px;
  border: solid black 1px;
margin: 0 7px 4px 0;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500;
  border-radius: 0px;
}

.filter-buttons-container {
display: flex;
margin-bottom: 30px;

}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* #endregion */

/* #region Downloads Section */
.downloads-section {
  padding: 70px 0 60px 0;

}

.downloads-section div a {

  margin: 20px;
}



.downloads-section div a img {
  height: 254px;
  width: 180px;
  box-shadow: rgb(184, 184, 184) 2px 2px 5px;
  object-fit: cover;
}

.downloads-section div a {
text-decoration: none!important;
color: black;
font-size: 14px;
text-transform: capitalize;
}

.downloads-section div a figcaption {
margin-top: 10px;
text-align: center;
}


.downloads-section div a img:hover {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: rgb(167, 167, 167) 2px 2px 5px;
}
.downloads-container {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
figcaption {
  line-height: 1.3;
}
@media only screen and (max-width: 568px) {
  .downloads-container {
justify-content: flex-start;
    flex-wrap: nowrap;
overflow-x: scroll;
  
  }
.downloads-section div a {
  margin-left: 0px;
}
  .downloads-section div a img {
  width: 190px;
  height: 268px;
    box-shadow: rgb(184, 184, 184) 2px 2px 5px;
    object-fit: cover;
  }
  .downloads-section .container{
    padding-right: 0;
    padding-left: 10px;
  
  }
  .downloads-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* #endregion */

/* #region Tabs */

.tab-pane h2 {
margin: 20px 0 20px 0;
}

.pill-1-img, .pill-2-img, .pill-3-img {
  object-fit: cover;

  }


#pills-2 .row {
  flex-direction: column;
}
.nav-pills {
  margin-top: 0px;

}

.nav-pills .nav-link:hover {
  font-weight: bold;
  }
  
  .nav-pills .nav-link.active {
  background-color: transparent;
  color:#000000;
  font-weight: bold;
  text-decoration: underline;
  }
  
  .nav-pills .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
  border-radius: 0px;
  padding: 20px;
  padding-left: 0px;
  color:#000000;
  }


  .tabs-section {
padding-top: 3em;
padding-bottom: 9em;
  }
  .tabs-section .sticky-top {
    position:unset;
  }

 

  @media only screen and (max-width: 768px) {
    .tabs-section .sticky-top {
      position: sticky;
      top: 66px;
      background-color: white;
      z-index: 0;
    }
    .tabs-section .nav-pills {
flex-direction: column;
padding: 5px 0 0px 0!important;

      }
      .nav-pills, .nav-link {
        padding: 0px 0px 5px 0px!important;
      }
      
  .tabs-section {
    padding-top:2em;
    padding-bottom: 5em;
      }

      .tabs-section .nav-pills {
        border-bottom: solid 1px rgb(192, 192, 192);
      }
  }

/* #endregion */

/* #region Finishes Section */


.card-body {
  background-color: transparent;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.mobile-finishes-block img, .tablet-finishes-block img{
width: 100%;
}
.mobile-finishes-block .sample-item, .tablet-finishes-block .sample-item{
 padding-right: 10px;
  }
  .sample-buttons {
   margin: 0px 0px 10px 10px;
  }
  .sample-item a {
    display:block;
    position:relative;
    height: 100%;
  }
  .sample-item .sample-overlay h4 {
margin-bottom: 0;
padding-bottom: 2px;
  }
  .sample-item a[aria-expanded=true] .sample-overlay {
    opacity: 1;
    }
    .down-arrow {
      padding-top: 2px;
      font-size: 22px;
    }
.finishes-block .row, .mobile-finishes-block .row, .tablet-finishes-block .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}


.line {
  height: 50px;
border-right: solid 1px;

}
.samples-container {
  display: flex;
}

.finishes {
padding: 70px 0 70px 0;
}
@media only screen and (max-width: 768px) {
.finishes {
  padding: 40px 0 80px 0;
}
  }
.finishes-block .nav-link {
  padding: 0px;
  position: relative;
  margin-right: 10px;
}

.line-container {
  padding: 0;
  --bs-gutter-x: 0;
}
.line-container div {
  padding-right: 10px;



}

.sample-overlay {
  position: absolute;
  bottom: 0!important;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 
}
#naturel-tab .sample-overlay h4 {
  color: rgb(34, 34, 34);
}

.finishes .nav-link:hover .sample-overlay {
  opacity: 1;
}
.sample-overlay h4 {

  color: rgb(255, 255, 255);
 width: 100%;
  text-align: center;
padding: 10px;
text-transform: capitalize;
font-size: 13px;
}

.finishes-section .nav-item .nav-link.active .sample-overlay {
  opacity:1;
}
.nav-link.active  .sample-overlay{
  opacity:1;
}

.finishes-block, .tablet-finishes-block{
  display:none;
 }
 
 
 
 
 
 @media only screen and (min-width: 568px) {
  .finishes-block, .mobile-finishes-block{ 
    display: none;
  }
  .tablet-finishes-block {
    display: block;
  }
  }


@media only screen and (min-width: 992px) {
.mobile-finishes-block, .tablet-finishes-block{ 
  display: none!important;
}
.finishes-block {
  display: block;
}
}



/* #endregion */
